.menu {
    display: block;
    overflow: hidden;
    width: 200px;
    height: 690px;
    background-color: #000;
    color: #fff;
    transition: all 0.5s ease;
    border-radius: 20px 5px 0px 20px;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a, .menu > label {
    display: block;
    height: 25px;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    color: #000;
}

.menu li:hover, #li > label:hover {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}
.menu div {
    position: absolute;
    left: 50px;
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    padding: 0 0 0 20px;
}

#expand-menu {
    display: none;
}
#expand-menu:checked ~ ul {
    display: block;
    height: auto;
}

.menu ::before {
    font-family: 'Material Icons';
    font-size: 1.5em;
    float: left;
    clear: left;
}

.chat-box {
    display: block;
    float: left;
    position: absolute;
    top: 626.5px;
    transition: all 0.5s ease;
    overflow: hidden;
}

textarea {
    width: 1100px;
    height: 60px;
    font-size: 15px;
    padding-left: 10px;
    border-radius: 0px 5px 5px 0px;
    color: white;
    background-color: rgb(57, 57, 57);
}
button {
    width: 100px;
    height: 60px;
    display: block;
    float: left;
    position: relative;
    top: 626.5px;
    transition: all 0.5s ease;
    overflow: hidden;

    background-color: rgb(57, 57, 57);
    border-radius: 0px 5px 5px 0px;
    color: white;
}

.menu li:nth-child(1) a::before{ content: '\e88a'; }
.menu li:nth-child(2) a::before{ content: '\ea77'; }
.menu li:nth-child(3) a::before{ content: '\e0b7'; }
